*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  width: 300px;
  height: 500px;
  box-shadow: $boxshad;
  border: 1.5px solid #555;
  background-color: #fff;
  &:hover &__image img {
    -webkit-filter: contrast(100%);
    filter: constrast(100%);
  }
  &__image {
    height: 50%;
    // background-image: url('https://unsplash.it/800/600?image=11');
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // -webkit-filter: contrast(70%);
    //     filter: contrast(70%);
    // overflow: hidden;
    // position: relative;
    // transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    // transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    // transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91),
    //             -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    &:before {
      content: '';
      display: block;
    }
    & img {
      height: 100%;
      width: 100%;
      -webkit-filter: contrast(70%);
      filter: contrast(70%);
      overflow: hidden;
      position: relative;
      transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91),
                  -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
      &:before {
        content: '';
        display: block;
      }
    }
  }
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    &--title {
      color: #696969;
      flex: 1;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &--text {
      flex: 1;
    }
    &--button {
      background-color: #fff;
      border: 1px solid #555;
      color: #696969;
      padding: .5rem;
      text-transform: uppercase;
      transition: all 0.25s;
      cursor: pointer;
      &:hover {
        letter-spacing: 2px;
      }
    }
  }
}

// Media Queries for card alignment
@media all and (max-width: 650px) {
  .card {
    width: 100%;
    max-width: 400px;
    height: 350px;
    // min-width: 325px;
  }
}
