.footer {
  display: flex;
  background: $footerSVG;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #999;
  height: 250px;
  margin-top: 1vw;
  &__links {
    // display: flex;
    // flex-wrap: wrap;
    margin-top: auto;
  }
  &__trademark {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
