.hexagon {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  // font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style:none;
}

.hexagon__item {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  &:after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
}
.hexagon__item--inner{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexagon__item--inner * {
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.35));
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  &:hover {
    filter: contrast(150%);
  }
}
.hexagon__item--inner-link {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hexagon__item svg {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hexagon__item h1, .hexagon__item p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition: transform .2s ease-out, opacity .3s ease-out;
}
.hexagon__item h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 45%;
            width: 10%;
            text-align: center;
            border-bottom: 1px solid #fff;
          }
}
.hexagon__item p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexagon__item--inner-link:hover h1, .hexagon__item--inner-link:focus h1,
.hexagon__item--inner-link:hover p, .hexagon__item--inner-link:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

// Media Queries for hexagon layout
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  .hexagon{
    padding-bottom: 4.4%;

  }
  .hexagon__item {
    width: 20%; /* = 100 / 5 */
    &:nth-child(9n+6){ /* first hexagon of even rows */
      margin-left:10%;  /* = width of .hex / 2  to indent even rows */
    }
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  .hexagon{
    padding-bottom: 5.5%;
  }
  .hexagon__item {
    width: 25%; /* = 100 / 4 */
    &:nth-child(7n+5){ /* first hexagon of even rows */
      margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
    }
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  .hexagon{
    padding-bottom: 7.4%;
  }
  .hexagon__item {
    width: 33.333%; /* = 100 / 3 */
    &:nth-child(5n+4){ /* first hexagon of even rows */
      margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
    }
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  .hexagon{
    padding-bottom: 11.2%;
  }
  .hexagon__item {
    width: 50%; /* = 100 / 3 */
    &:nth-child(3n+3){ /* first hexagon of even rows */
      margin-left:25%;  /* = width of .hex / 2  to indent even rows */
    }
  }
}

@media (max-width: 400px) {
    .hexagon {
        font-size: 13px;
    }
}
