.logo {
  cursor: pointer;
}
.navbar {
  display: flex;
  z-index: 999999;
  background-image: repeating-linear-gradient(135deg, rgba(251,251,251,0.75), rgba(251,251,251,0.75) 24px, #ECECEC 24px, rgba(251,251,251,0.9) 25px, rgba(251,251,251,0.95) 25px, rgba(251,251,251,0.95)100px, #ececec 100px, #ececec 101px);
  border-bottom: 1px solid #999;
  // border-right: 1px solid #999;
  // border-top: 1px solid #999;
  min-height: 56px;
  transition: min-height 0.3s;
  list-style: none;
  margin: 0;
  padding: 0;
  &__menu {
    display: none;
    position: absolute;
    right: 0;
    padding: 1em;
    margin-right: 1.5rem;
  }
  &__menu svg {
    width: 48px;
    fill: #999;
    transition: all .25s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      filter: drop-shadow(6px 6px 4px #3f3f3f) contrast(150%);
    }
  }
  &__links {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    display: flex;
    flex: 1;
    .logo {
      filter: drop-shadow(6px 6px 3px #3f3f3f);
      margin: 1em;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3f3f3f;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 1.2rem 2rem 1rem 2rem;
    transition: transform 0.3s;
    // border-right: 1px solid #3f3f3f;
    // border-bottom: 6px solid transparent;
    // border-right: 4.5px solid transparent;
    svg {
      transition: all 0.2s;
      fill: #3f3f3f;
      margin-bottom: 1rem;
    }
    &:hover, &--active {
      border-bottom-color: rgba(0,0,0,0.2);
      border-right-color: rgba(0,0,0,0.05);
      letter-spacing: 2.5px;
      font-weight: bold;
      transition: all 0.25s;
      svg {
        transform: scale(1.25);
      }
      filter: drop-shadow(6px 6px 3px #3f3f3f) contrast(150%);
    }
  }
}

// Media Queries
@media all and (max-width: 1200px) {
  .navbar {
    &__link {
      padding-left: 1rem;
      padding-right: 1rem;
      }
    }
}

@media all and (max-width: 900px) {
  .navbar {
    display: flex;
    &__links {
      order: 1;
    }
    &__link {
      svg {
        width: 30px;
      }
      &--logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}
@media all and (max-width: 650px) {
  .navbar {
    &__links {
      width: 100%;
    }
  }
}

@media all and (max-width: 600px) {
  .logo {
    width: 80px;
  }
  .navbar {
    width: 225px;
    position:fixed;
    box-sizing: border-box;
    -webkit-transform: translate(-325px, 0);
    transition: transform 0.3s ease;
    border: 1px solid #999;
    box-shadow:$boxshad;
    background: repeating-linear-gradient(45deg, rgba(251,251,251,0.8), rgba(251,251,251,0.8) 24px, #ECECEC 24px, rgba(251,251,251,0.9) 25px, rgba(251,251,251,0.95) 25px, rgba(251,251,251,0.95)100px, #ececec 100px, #ececec 101px);
    &:before {
      filter: blur(5px);
    }
    &__menu {
      display: inline-block;
    }
    &.open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    &__links {
      flex-direction: column;
      align-items: center;
    }
    &__link {
      border-right: none;
      width: 100%;
      svg {
        width: 48px;
      }
    }
    &__item {
      width: 100%;
    }
  }
}
