.work__wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  position:relative;
  &--cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1rem;
    // border: 1px solid black;
  }
}
