@import 'partials/variables';
@import 'partials/layout';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/hexagon';
@import 'partials/home';
@import 'partials/work';
@import 'partials/heading';
@import 'partials/card';
@import 'partials/terminal';
@import 'partials/form';
@import 'partials/connect';
@import 'partials/error';
@import 'partials/checkmark';
@import 'partials/quote';
@import 'partials/nprogress';
